.sidebarOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.sidebarOptions:hover{
   background-color: #162E43;
   border-radius: 50px;
   color: #0a8dff;
}

.sidebarOptions__title{
    margin-left: 5px;
}