<h1> Create a new Big Catch</h1>
<p><%= @error%></p>
<form action="/catches" method="POST"> 
<label>Name</label>
<input type="text" name="name" value="">
<label>Image</label>
<input type="text" name="image" value="">
<label>Length</label>
<input type="integer" name="length" value="">
<label>Weight</label>
<input type="integer" name="weight" value="">

<input type="submit" name="" value="Create Catch">
</form>
